[project]
name = "fridge"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard]>=0.124.0",
    "sqlalchemy>=2.0.44",
    "uvicorn>=0.38.0",
]
