<table>
  <tr>
    <td>이름</td>
    <td>주소</td>
    <td>전화번호</td>
    <td>이메일</td>
  </tr>
  {% for customer in customers %}
  <tr>
    <form action="/html/update" method="post">
      <td><input type="text" name="original_name" value="{{ customer.name }}" readonly /></td>
      <td><input type="text" name="name" value="{{ customer.name }}" /></td>
      <td><input type="text" name="address" value="{{ customer.address }}" /></td>
      <td><input type="text" name="phone" value="{{ customer.phone }}" /></td>
      <td><input type="text" name="email" value="{{ customer.email }}" /></td>
      <td><input type="submit" value="수정" /></td>
    </form>
  </tr>
  {% endfor %}
</table>
